@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --cor-01: #1A2601;
    --cor-02: #324001;
    --cor-03: #465902;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    font-family: "Oswald", sans-serif;
    background-color: var(--cor-02);
}
header{
    grid-row: 1;
    width: 100%;
    height: 5rem;
}
header nav{
    display: grid;
    grid-row: 1;
    height: 5rem;
    width: 100%;
    background-color: var(--cor-01);
}
#button-home{
    grid-column: 1;
    grid-row: 1;
    text-decoration: none;
    text-align: start;
    padding-top: 1.5rem;
    font-size: 1rem;
    height: 1rem;
}
#logo{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    height: 1rem;
}
#logo img{
    height: 5rem;
    width: 5rem;
}
#icon-carrinho{
    grid-column: 3;
    grid-row: 1;
    text-align: end;
    padding-top: 1.2rem;
    height: 1rem;
}
#icon-carrinho > a {
    margin: 0;
}
#icon-carrinho > a > img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    height: 2rem;
    margin: 0.3rem 2rem 0 2rem;
    color: white;
}
nav p a{
    margin: 2rem;
    text-decoration: none;
    text-align: center;
    color: white;
}
main{
    height: 30rem;
    margin-top: 2rem;
}
.section-infoProduto{
    display: grid;
    width: 100%;
    background-color: var(--cor-01);
}
.Div-ImgProduto{
    grid-column: 1;
    grid-row: 1;
    width: 50rem;
    margin: 2rem 0 2rem 2rem;
    background-color: var(--cor-03);
    padding: 1rem;
}
.Div-ImgProduto img{
    width: 100%;
}
.Div-infoEscrita{
    grid-column: 2;
    display: grid;
    width: 30rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
}
.Div-infoEscrita h1, h2{
    grid-column: 1;
    text-align: center;
}
.Div-infoEscrita h1{
    font-size: 5rem;
    color: var(--cor-03);
    text-transform: uppercase;
}
.Div-infoEscrita h2{
    font-size: 2rem;
    height: 5rem;
    color: var(--cor-03);
}
.Div-infoEscrita-input{
    grid-column: 1;
    grid-row: 3;
    display: grid;
    width: auto;
    text-align: center;
}
.span-button-addCar{
    width: auto;
    grid-column: 1;
    grid-row: 4;
}
.span-input-Qtd{
    grid-column: 1;
    grid-row: 3;
    width: auto;
    margin-bottom: 1.6rem;
}
#BtnAdd{
    color: var(--cor-03);
    background-color: white;
    border: 5px solid var(--cor-03);
    padding: 10px;
    border-radius: 15px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
#BtnAdd:hover{
    border: 5px solid white;
    color:  white;
    background-color: var(--cor-03);
}
#QtdP{
    font-size: 1.2rem;
    width: 9rem;
    padding: 0.5rem;
}

.span-aviso{
    grid-column: 1;
    margin-top: 5rem;
    color: red;
    font-size: 1rem;
    grid-row: 5;    
}
